h1 {
  outline-style: groved;
  outline-color: darkgray;
  text-align: center;
  background-color: rgb(60, 60, 60);
  text-color: white;
  text-shadow: 0px 0px 4px black;
}
body {
  text-align: center;
  background-color: rgb(60, 60, 60);
}
